:root {
    font-family: var(--default-font);
    font-size: 14px;
    color: #333;
    background: #ddd;
    --default-font: "IBM Plex Sans", sans-serif;
    --theme-primary: #f34213;
    --theme-primary-text: #fff;
    --theme-secondary: #2e2e3a;
    --theme-secondary-text: #fff;
    --main-height: calc(100vh - var(--header-height));
    --header-height: 3.5rem;
    --footer-height: 2rem;
}

body {
    margin: 0
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 0.5rem;
    left: 2rem;
    padding: 0 2rem;
    width: calc(100vw - 4rem);
    height: var(--footer-height);
    font-size: 0.8rem;
    color: #ccc;
    background: #00000080;
    border-radius: 1rem;
    margin: 5px auto;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
}

footer a {
    color: #fff
}

header {
    background: #eee;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: var(--header-height)
}

header a.homeLink {
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border: 1px solid transparent;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
    transition: border 0.1s;
}

@media (hover: hover) and (pointer: fine) {
    header a.homeLink:hover {
        border: 1px solid #333;
    }
}

@media (min-width: 600px) {
    footer {
        width: 400px;
        left: calc(50vw - 200px);
    }
}

ika-route[key="main"] {
    height: var(--main-height);
    display: block;
    overflow-y: auto;
    overflow-x: none;
}