:root {
    font-family: var(--default-font);
    font-size: 14px;
    color: #333;
    background: #ddd;
    --default-font: "IBM Plex Sans", sans-serif;
    --theme-primary: #f34213;
    --theme-primary-text: #fff;
    --theme-secondary: #2e2e3a;
    --theme-secondary-text: #fff;
}
body{
    margin: 0
}

code,
.code {
    font-family: monospace;
    background: var(--theme-code);
    padding: 0.15rem 0.25rem;
    border-radius: 4px;
}

div.code {
    border: 1px solid #999;
    border-radius: 3px;
    background: var(--theme-code);
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    font-size: 0.875rem;
}

.aside {
    background: rgb(239, 241, 229);
    padding: 0.5rem;
    margin: 1rem;
    font-size: 0.875rem;
    border: 1px solid rgb(179, 180, 136);
    border-radius: 5px;
}

.navLink {
    font-weight: 600;
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: all 0.5s;
    border-radius: 0;
    border: 1px solid #00000000;
    cursor: pointer;
}

.navLink:hover {
    background: var(--theme-primary-lighter);
    border-radius: 3px;
    border-color: #00000020
}