h1 {
    font-size: 1.5rem;
}

nav h1 {
    text-transform: lowercase;
    padding: 0 1rem 0.5rem 0;
    border-bottom: 2px solid;
    font: normal 1.5rem var(--default-font);
}

div.navBg {
    background: #f8f8f8;
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
}

div.navBg button {
    cursor: pointer;
    background: #00000008;
    padding: 0.5rem 1rem;
    border: 0;
    display: flex;
    align-items: center;
    width: fit-content;
    width: -moz-fit-content;
    gap: 0.5rem;
}

div.docWrapper {
    width: 100%;
}

div.mainWrapper {
    height: 100%;
    overflow: auto;
}

@media (min-width: 1024px) {
    div.navBg {
        height: 100%;
        padding: 0;
        width: fit-content;
        width: -moz-fit-content;
    }

    div.navBg nav {
        display: flex;
        flex-direction: column;
        width: max-content;
        height: var(--main-height);
        box-sizing: border-box;
    }

    div.navBg button.toggle {
        display: none;
    }

    div.docWrapper {
        display: flex
    }
}

div.navBg button img {
    height: 1rem;
    width: 1rem;
}

div.navBg[show] {
    height: 100%;
    padding: 0;
}

div.navBg[show] nav {
    display: flex;
    flex-direction: column;
    min-height: var(--main-height);
    box-sizing: border-box;
    margin: auto
}

div.navBg[show] button.expand {
    display: none
}

nav {
    max-width: 400px;
    padding: 2rem 3rem;
    display: none;
    gap: 0.5rem;
}

nav ul {
    display: grid;
    gap: 1rem;
}

nav ul li {
    display: block;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav ul>li>a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s;
}

@media (hover: hover) and (pointer: fine) {
    nav ul>li>a:hover {
        color: var(--theme-primary);
    }
}

nav>i {
    opacity: 0.5;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    margin-bottom: var(--footer-height);
}

main {
    background: #f8f8f8;
    padding: 1rem 3rem calc(2rem + var(--footer-height) + 0.5rem);
    box-shadow: 0 0 10px 0px #00000040;
}

main p {
    line-height: 1.5rem;
}


main h2 {
    font: normal 1.25rem var(--default-font);
    margin: 2rem 0 0.5rem;
    text-transform: uppercase;
}

div.onwardLinks {
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 2rem;
    border-top: 1px solid #00000010;
    padding: 2rem 0 0;
}

div.onwardLinks>a {
    background: #f0f0f0;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid;
    display: block;
    color: #333;
    text-decoration: none;
    transition: all 0.2s;
}

@media (min-width: 600px) {
    div.onwardLinks {
        flex-direction: row;
    }

    div.onwardLinks>a {
        padding: 1.5rem;
        width: max-content;
        border-bottom: 0;
    }

    main {
        margin: 2rem;
        border-radius: 5px;
    }

    div.onwardLinks>a:first-of-type {
        border-right: 1px solid;
    }

    div.onwardLinks>a:last-of-type {
        border-left: 1px solid;
    }

    @media (hover: hover) and (pointer: fine) {
        div.onwardLinks>a:first-of-type:hover {
            transform: translateX(3px);
        }

        div.onwardLinks>a:last-of-type:hover {
            transform: translateX(-3px);
        }
    }

}